!hline_c = #ccc
!c1 = #2462e0
!c_visited = #5924e0
!c_faded = #777

body
  :margin 0
  :padding 0
  :font-family sans-serif

a
  :color = !c1
  &:visited
    :color = !c_visited

#search_form
  input
    :font-size 1.1em
  #q
    :padding 4px
  #q_submit
    :padding 3px 12px

body.home section.search
  :margin 85px auto 10px
  :width 75%
  :text-align center
  #search_form
    #q
      :display block
      :max-width 600px
      :width 100%
      :margin 20px auto 15px   

body.results
  header
    :padding 15px
    :border-bottom = "solid" 1px !hline_c
    
    !logo_height = 68px
    :min-height = !logo_height
    img
      :width 275px
      :height = !logo_height
    #logo_
      :float left
      :margin-right 20px

    #search_form
      :margin-top = 0.26 * !logo_height
    #q
      :min-width 200px
      :max-width 375px
      :width 100%
  
section.results
  :padding 15px
  ol
    :margin 0
    :padding 0
    :width 75%
    :max-width 1000px
    :min-width 600px
  ol, li
    :list-style-type none
  li
    :margin-bottom 10px
    h1
      :font-size 1.0em
    h1, p
      :padding 0
      :margin 0
    cite
      :font-size 0.9em
      :color = !c_faded
      :font-style normal